@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-scroll {
	overflow: hidden;
}

@layer base {
	ul {
		list-style-type: disc;
		margin: inherit;
		padding-inline-start: 40px;
	}
}

#editor {
	padding: 5px 20px;
}

#editor:focus {
	outline: 2px solid transparent;
}

#toolbar-wrap {
	position: sticky;
	top: 0px;
	height: 60px;
	width: 100%;
}

#toolbar {
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 15px;
	background-color: #f1f5f9;
}

#toolbar.down {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.button {
	border-radius: 5px;
	background-color: transparent;
	border: 0px;
	padding: 3px 5px;
	line-height: 0px;
	display: inline-block;
	margin: 1px;
	cursor: pointer;
}

.button:hover {
	background-color: #e2e8f0;
}
.editable-slate {
	/* height: calc(100vh - 40px);
	overflow-y: scroll; */
	/* overflow-x: hidden; */
	border: 1px solid grey;
	/* min-width: 20em; */
	min-height: 1.4em;
	/* height: calc(100vh - 150px);
	overflow-y: auto; */
	background-color: white;
	overflow-y: hidden;
	text-align: left;
	position: relative;
	outline: none;
	white-space: pre-wrap;
	overflow-wrap: break-word !important;
}

.slite-line-break::after {
	content: "";
	display: block;
	height: 0;
}

.check-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	margin:10px 0px;
}

ol .check-list:before {
	content: "" !important;
}

.checkbox-ui::before {
	content: "";
	background: rgba(0, 0, 0, 0);
	border: 1px solid #c1c1c1;
	width: 17px;
	height: 17px;
	margin-top: 2px;
	margin-left: -22px;
	position: absolute;
	top: 5px;
	padding: 0;
	border-radius: 50%;
}

.span-katex {
	display: inline-block;
}

.check-list {
	padding-left: 0px !important;
}

.heightBottom {
	position: fixed;
	height: 30px;
	transition: all 1s;
	bottom: 0;
	left: 0;
	background: red;
	width: 100%;
}

.banner-red {
	background-color: rgba(255, 100, 100, 0.3);
	border-left: 4px solid #ff6464;
	padding: 10px;
	margin: 10px 10px;
}

a {
	color: blue;
	text-decoration: underline;
}

input {
	outline: none;
}
