@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	scroll-behavior: smooth;
}

.disable-scroll {
	overflow: hidden;
}

ul li {
	list-style-type: disc;
}

#editor {
	padding: 5px 20px;
}

#editor:focus {
	outline: 2px solid transparent;
}

#toolbar-wrap {
	position: sticky;
	top: 0px;
	height: 60px;
	width: 100%;
}

#toolbar {
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 15px;
	background-color: #f1f5f9;
}

#toolbar.down {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
}

.button {
	border-radius: 5px;
	background-color: transparent;
	border: 0px;
	padding: 3px 5px;
	line-height: 0px;
	display: inline-block;
	margin: 1px;
	cursor: pointer;
}

.button:hover {
	background-color: #e2e8f0;
}
.editable-slate {
	/* height: calc(100vh - 40px);
	overflow-y: scroll; */
	/* overflow-x: hidden; */
	border: 1px solid grey;
	/* min-width: 20em; */
	min-height: 1.4em;
	/* height: calc(100vh - 150px);
	overflow-y: auto; */
	background-color: white;
	overflow-y: hidden;
	text-align: left;
	/* border: 3px solid black;
	border-radius: 5px; */
}

.slate-break::after {
	content: "";
	display: block;
	height: 0;
}

.banner-red {
	background-color: rgba(255, 100, 100, 0.3);
	border-left: 4px solid #ff6464;
	padding: 10px;
}

a {
	color: blue;
	text-decoration: underline;
}

input {
	outline: none;
}
